    <!-- Download Section -->
    <section id="publication" class="content-section text-center">
        <div class="publication-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Publication</h2>
                    <p style="text-align: justify;"><strong>Shi X</strong>, Liu Z, Guo T, et al. Research on the Flow-Induced Vibration of Cylindrical Structures Using Lagrangian-Based Dynamic Mode Decomposition[J]. Journal of Marine Science and Engineering, 2024, 12(8): 1378.</p>
                    <p style="text-align: justify;"><strong>Shi X</strong>, Liu Z, Guo T, et al. Investigation on contact stress calculation method of spherical hinge structures for swivel construction[J]. Structures, 2024, 69: 107290. </p>
                    <p style="text-align: justify;">Liu Z, <strong>Shi X</strong>, Guo T, et al. Assessment of regular and earthquake-induced wave hydrodynamic tests of moored and end-fixed submerged floating tunnels[J]. Journal of Fluids and Structures, 2025.</p>
                    <p style="text-align: justify;">Liu Z, <strong>Shi X</strong>, Guo T. Numerical Estimation of Static and Dynamic Response of Submerged Floating Tunnel under Wave and Cable Breakage Conditions[J]. International Journal of Structural Stability and Dynamics, 2025. </p>
                    <p style="text-align: justify;">Liu Z, <strong>Shi X</strong>, Guo T, et al. Investigation on hydrodynamic response and characteristics of a submerged floating tunnel based on hydrodynamic tests[J]. Ocean Engineering, 2024, 300: 117187.</p>
                    <p style="text-align: justify;">Liu Z, <strong>Shi X</strong>, Guo T, et al. Damage diagnosis and fretting wear performance analysis of short suspenders in cable supported bridges[J]. Structures, 2023, 56: 104909. </p>
                    <p style="text-align: justify;">Zhang X, Xie X, Tang S, et al. High-speed railway seismic response prediction using CNN-LSTM hybrid neural network[J]. Journal of Civil Structural Health Monitoring, 2024, 14(5): 1125-1139.</p>
                </div>
            </div>
        </div>
    </section>
